<div class="users__heading">
<app-search class="users__search" type="seach"></app-search>
  <div class="users__menu">
    <app-user-menu ></app-user-menu>
  </div>
</div>
<div class="users">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="users__content">
        <app-heading>
          <app-dropdown [options]="dropdownOptions"></app-dropdown>
        </app-heading>

        <div class="users__list">
          @for (user of users; track user.id){
            <app-user [user]="user"></app-user>
          }
        </div>

      </div>
    </div>


    <div class="col-12 col-md-3">
      <div class="users__filters">

        <h2 class="users__filter-title">Filters</h2>
        <div class="users__filter-list">
          <div class="users__checkbox-group">
            <h3 class="users__subtitle">Role</h3>
            <app-checkbox-group [options]="roleOptions"></app-checkbox-group>
          </div>
          <div class="users__checkbox-group">
            <h3 class="users__subtitle">Level</h3>
            <app-checkbox-group [options]="levelOptions"></app-checkbox-group>
          </div>
          <div class="users__checkbox-group">
            <h3 class="users__subtitle">Direction</h3>
            <app-checkbox-group [options]="directionOptions"></app-checkbox-group>
          </div>
          <div class="users__filter-buttons">
            <app-button-brand>
              Apply Filter
              <app-check-icon></app-check-icon>
            </app-button-brand>
            <app-button-brand [light]="true">
              Clear all
              <app-trash-icon></app-trash-icon>
            </app-button-brand>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="users__pagination">
    <button class="users__pagination-button active">1</button>
    <button class="users__pagination-button">2</button>
    <button class="users__pagination-button">3</button>
    <button class="users__pagination-button">4</button>
  </div>
</div>


