<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" (click)="toggleDropdown()">
    {{ selectedItem()?.name || placeholder() }}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="material-symbols-light:keyboard-arrow-down">
        <path id="Vector" d="M12 14.708L6.69202 9.4L7.40002 8.692L12 13.292L16.6 8.692L17.308 9.4L12 14.708Z" fill="#84919A"/>
      </g>
    </svg>
  </button>

  <ul class="dropdown-menu" [ngClass]="{ 'show': isDropdownVisible() }">
    @for(option of options(); track option.value){
      <li (click)="selectItem(option)" class="dropdown-item">
        <a class="dropdown-item__link">{{ option.name }}</a>
      </li>
    }
  </ul>
</div>
