.dropdown-menu {
  overflow-y: auto;
  cursor: pointer;
  padding: 0;
  width: 100%;
  border-radius: 2px;
}

.dropdown-item{
  padding: 0;
  min-height: 45px;
  display: flex;
  align-items: center;

  &:active{
    border: 1px solid #D3D3D3;
    outline: none;
    box-shadow: none;
    background-color: #FFF;
  }

  &.active{
    background: #FFF;
  }
}

.dropdown-item__link{
  width: 100%;
  display: flex;
  padding: 12px 16px;
  background: #FFF;
  color: #84919A;
  //font-family: "Test Tiempos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}


:host {
  width: 100%;

  ::ng-deep .dropdown-toggle{
    width: 100%;
    background-color: #fff;
    padding: 16px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    color: #84919A;
    //font-family: "Test Tiempos Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::after{
      display: none;
    }
  }

  ::ng-deep .btn:first-child:active{
    background-color: #fff;
    border: 1px solid #D3D3D3;
    color: #84919A;

  }
}
