<div class="course-item">
  <div class="course-item__heading">
    <div class="course-item__dropdown">
      <app-dropdown placeholder="Set an Action" [options]="options"></app-dropdown>
    </div>
  </div>

  <div class="course-item__content">
    <div class="row">
      <div class="col-12 col-md-2 course-item__course d-flex flex-column">
        <div class="course-item__details flex-grow-1 p-3">
          <h5 class="course-item__course-title">
            <app-alert-icon></app-alert-icon> {{ courseItem()?.name }}
          </h5>
          <p class="course-item__course-description">{{ courseItem()?.description }}</p>
        </div>
      </div>

      <div class="col-12 col-md-10">
        <div class="row h-100">
          @for(grade of courseItem()?.grades; track grade.id){
            <div class="col-12 col-sm-6 col-md-3 mb-3">
              <div class="course-item__grade-card p-3">
                <h5 class="course-item__grade-title">{{ grade.name }}</h5>
                <p class="course-item__grade-description">{{ grade.description }}</p>
              </div>
            </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>
