<div class="course-item">
  <div class="course-item__heading">
    <app-dropdown [options]="options"></app-dropdown>
  </div>

  <div class="course-item__content">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="course-item__details">
          <h5>{{ courseItem()?.name }}</h5>
          <p>{{ courseItem()?.description }}</p>
        </div>
      </div>

      <div class="col-12 col-md-8">
        @for(gradeRow of getGradeRows(); track gradeRow){
          <div>
            <div class="row">
              @for(grade of gradeRow; track grade){
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                  <div class="grade-card p-3 border">
                    <h6>{{ grade.name }}</h6>
                    <p>{{ grade.description }}</p>
                  </div>
                </div>
              }
            </div>
          </div>
        }

      </div>
    </div>
  </div>
</div>
