:host{

  .form-check-input{
    box-shadow: none;
    outline: none;
  }

  ::ng-deep .form-check-input:checked{
    background-color: #C19B5C;
    border: none;
    outline: none;
    box-shadow: none;
    --bs-form-check-bg-image: url('/assets/images/check.svg');
  }

  ::ng-deep .form-check-input:active{
    outline: none;
    box-shadow: none;
  }
}
