html, body, .page-content {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.page-content {
  display: flex;
  background-color: #F6F5F1;
}

.navbar {
  width: 312px;
  background: #092435;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.content {
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}
